<div class="uk-container">
    <h1>Pyrex Patterns</h1>

    <div uk-sortable>
        <div class="uk-inline uk-margin" *ngFor="let pattern of patterns">
            <div class="uk-cover-container">
                <img src="{{pattern.image_thumbnail}}" alt="{{pattern.pattern}}">
            </div>
            <div class="uk-card-body uk-overlay uk-position-bottom-left uk-light">
                <h3 class="uk-card-title">{{pattern.pattern}}</h3>
                <span class="uk-text-small">{{ pattern?.description }}</span>
            </div>
        </div>
    </div>
</div>